# 1. Complete the following tasks using Arrays

I. Array Creation

In [3]:
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

II. Array Element Access

In [4]:
print(arr[2])

30

III. Array Length

In [5]:
print(len(arr))

4

IV. Looping Array Elements

In [6]:
for ele in arr:
    print(ele)

10
20
30
40

V. Adding Array Elements using append()

In [15]:
arr.append(50)
print(arr)

[10, 20, 30, 40, 50, 50]

VI. Removing array elements using pop()

In [16]:
arr.pop()
print(arr)

[10, 20, 30, 40, 50]

# 2. Complete the following tasks using Sets

I. Set Creation and Set Length

In [18]:
myset = {10, 11, 10, "a", "x"}
print(len(myset))

4

II. Allocation of Different Data Types into a Set

In [27]:
mySet = {1, "hello", 3.14, True, (1, 2)}
print(mySet)

{1, (1, 2), 3.14, 'hello'}

III. Using set() constructor

In [25]:
mylist = [1, 3, "a", True]
mytuple = (1, 3, "a", True)

listToSet = set(mylist)
print(listToSet)

tupleToSet = set(mytuple)
print(tupleToSet)

{1, 3, 'a'}
{1, 3, 'a'}

IV. Accessing Set Items

In [30]:
for item in mySet:
    print(item)

1
(1, 2)
3.14
hello

V. Adding items to a Set using add() and update()

In [38]:
mySet.add("23052229")
print(mySet)

newElements = ["x", "y"]
mySet.update(newElements)
print(mySet)

{'23052229', 1, (1, 2), 3.14, 'hello'}
{'23052229', 1, (1, 2), 3.14, 'hello', 'x', 'y'}

VI. Remove set item using remove (), pop() and discard()

In [39]:
mySet.remove("x")
print(mySet)

{'23052229', 1, (1, 2), 3.14, 'hello', 'y'}

In [40]:
mySet.pop()
print(mySet)

{1, (1, 2), 3.14, 'hello', 'y'}

In [42]:
mySet.discard(1)
print(mySet)

{(1, 2), 3.14, 'hello', 'y'}

VII. Use clear() and del() on a set

In [43]:
mySet.clear()
print(mySet)

set()

In [49]:
myset = {1,2,3}
print(myset)
del(myset)

{1, 2, 3}

VIII. Set Looping - for and while

In [50]:
mySet = {1, "hello", 3.14, True, (1, 2)}
for item in mySet:
    print(item)

1
(1, 2)
3.14
hello

In [51]:
setIterator = iter(mySet)
while True:
    try:
        item = next(setIterator)
        print(item)
    except StopIteration:
        break

1
(1, 2)
3.14
hello


IX. Set Joining using union(), update(), intersection(), intersection_update()

In [52]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6}


X. Use difference(), difference_update(), isdisjoint() and symmetric_difference()

In [67]:
set1 = {2,3,5}
set2 = {3,5,6}
set1.difference(set2)

{2}

In [68]:
set1.difference_update(set2)
print(set1)
print(set2)
set1.isdisjoint(set2)

{2}
{3, 5, 6}

True

In [70]:
set1 = {1,3,5,7,9,10}
set2 = {2,4,6,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

# 3. Complete the following tasks using Dictionaries

I. Dictionary Creation &amp; Access using Key, and Updation

In [71]:
student = {
    "roll" : 23052229,
    "name" : "Arup",
    "job" : False
}
print(student)

{'roll': 23052229, 'name': 'Arup', 'job': False}

II. Dictionary Length, Type and dict() constructor

In [78]:
car = dict(model="RB21", brand="Redbull", year=2021)
len(car)

3

In [77]:
print(type(car))

<class 'dict'>

III. Dictionary Adding and Removing Items (pop(), popitem()) and Checking

In [82]:
car["driver"] = "Max Verstappen"
popped = car.pop("brand")
print(popped)
print(car)

Redbull
{'model': 'RB21', 'year': 2021, 'driver': 'Max Verstappen'}

In [84]:
popped = student.popitem()
print(popped)
print(student)

('job', False)
{'roll': 23052229, 'name': 'Arup'}

In [86]:
print("name" in student)
print("age" in student)

True
False

IV. Using clear() and del() on Dictionary

In [88]:
del student["roll"]
print(student)

{'name': 'Arup'}

In [91]:
student.clear()
print(student)

{}

V. Looping and Copying Dictionary using copy()

In [96]:
student = {
    "roll" : 23052229,
    "name" : "Arup",
    "job" : False
}
for key, value in student.items():
    print(key, value)

roll 23052229
name Arup
job False

In [97]:
studentCopy = student.copy()
print(studentCopy)

{'roll': 23052229, 'name': 'Arup', 'job': False}

VI. Nested Dictionary - Creation, Accessing and Looping Items

In [103]:
students = {
    "student1": {
        "name": "Soham",
        "age": 22,
        "course": "CE"
    },
    "student2": {
        "name": "Rahul",
        "age": 22,
        "course": "ECE"
    }
}
print(students)

{'student1': {'name': 'Soham', 'age': 22, 'course': 'CE'}, 'student2': {'name': 'Rahul', 'age': 22, 'course': 'ECE'}}

In [107]:
print(students["student1"])
print(students["student1"]["name"])

{'name': 'Soham', 'age': 22, 'course': 'CE'}
Soham

In [109]:
students["student2"]["age"] = 23
print(students["student2"])

{'name': 'Rahul', 'age': 23, 'course': 'ECE'}